body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: rgb(255, 255, 255, 0.5);
    font-size: 3em;
    font-family: 'Courier New';
}


.container {
    text-align: center;
    position: relative;
}

#parpadeo {
    animation: parpadeo 1s infinite;
    color: aqua;
}

@keyframes parpadeo {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.esquina-derecha {
    position: absolute;
    bottom: 0;
    right: 25px;
    width: 125px;
    height: 125px;
}

.esquina-izquierda {
    position: absolute;
    bottom: 0;
    left: 25px;
    filter: brightness(80%);
    /* Brillo inicial */
    animation: brillo 4s ease-in-out infinite alternate;
}

/* Animación de brillo */
@keyframes brillo {
    0% {
        filter: brightness(70%);
        /* Brillo inicial */
    }

    50% {
        filter: brightness(140%);
        /* Brillo máximo */
    }

    100% {
        filter: brightness(70%);
        /* Brillo inicial */
    }
}